{% extends 'base.html.twig' %}

{% block title %}Hello restaurant!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="example-wrapper">
        <h1>modifier le restaurant</h1>
        <form method="post"  action="{{ path('editrestaurant', { 'id': restaurant.id }) }}">
            <div class="form-group">
                <label for="race">name</label>
                <input type="text" class="form-control" name="name" value="{{ restaurant.name }}" placeholder="Entrer le nom  " required>
            </div>
            <div class="form-group">
                <label for="nom">description</label>
                <input type="text" class="form-control" name="description"  value="{{ restaurant.description }}" placeholder="Entrer la description" required>
            </div>
            <select class="form-control" name="city" required>
                {% for city in cities %}
                    <option value="{{ city.id }}">{{ city.name }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Submit</button>
            <input type="button" class="btn btn-default" value="Cancel" onclick="location.href('/restaurant')">
        </form>

    </div>
{% endblock %}